#datepicker:hover, #datepicker1:hover{
    cursor: pointer;
}


.form-control{
    border: 1px solid grey !important;
}

#login-image{
    padding: 100px;
    position: relative;
}

#logo-sidebar{
    width: 100%;
}

.sidebar{
    z-index: 9999;
    position: fixed;
}

.components{
    padding-left: 15rem;
    margin-top: 75px;

}
